<table class="table">
    <thead>
        <tr>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th>REGEXP GROUP</th>
            <th>ENTITIES</th>
            <th>DIALOG ID</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let intent of provider">
            <td>{{intent.name}}</td>
            <td>{{intent.description}}</td>
            <td>
                <a [routerLink]="['/regexps']" [queryParams]="{group:intent.regexpGroup}">{{intent.regexpGroup}}</a>
            </td>
            <td>
                <span *ngFor="let entity of intent.entities; let last=last">
                    <a [routerLink]="['/entities']" [queryParams]="{name:entity}">{{entity}}</a>
                    <span *ngIf="!last">,</span>
                </span>
            </td>
            <td>
                <a [routerLink]="['/dialogs']" [queryParams]="{name:intent.dialogName}">{{intent.dialogName}}</a>
            </td>
        </tr>
    </tbody>
</table>